.z-bleu {
    color: #0088CC;
}
.background-navbar {
    background-color: #D2D5D6;
}
.slogan {
    font-size: 12px;
    position: relative;
    top: 15px;
    right: 76px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.icon-home {
    color: #0088CC;
}
.dropdown-menu {
    position: relative;
    top: 55px;
}